rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isValidId(id) {
      return id is string && id.size() > 0 && id.size() <= 128;
    }

    match /users/{userId} {
      allow read, write: if true;
    }

    match /entries/{entryId} {
      allow read, write: if true;
    }

    match /diaries/{diaryId} {
      allow read, write: if true;
    }

    match /files/{fileId} {
      allow read, write: if true;
    }

    match /matchEvaluations/{matchId} {
      allow read, write: if true;
    }

    match /test/{docId} {
      allow read, write: if true;
    }
  }
}
